.title-heading {
  font-size: 2rem;           /* Equivalent to text-2xl */
  font-weight: 700;          /* Bold */
  color: #1f2937;            /* Slate-800 */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.award-point {
  font-size: 1rem;           /* Equivalent to text-2xl */
  font-weight: 700;          /* Bold */
  color: #1f2937;            /* Slate-800 */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}